*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.center {
    max-width:1120px;
    padding: 0 2%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
}

header {
    padding: 10px 0;

    font-size: 16px;
    line-height: 24px;

    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #07182A;

}

.center nav {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu-desktop {
    width: 50%;
    text-align: right;
}

.menu-desktop ul li {
    display: inline-block;
    margin: 8px 10px;
    
}

.menu-desktop ul li a {
    text-decoration: none;
    color:whitesmoke;
    transition-duration: 0.5s;
    margin:0px 15px;
    letter-spacing: 0.5px;
}

.menu-desktop ul li a:hover {
    color:#00FA9A;
}



.menu-mobile {
    display: none;
    text-align: right;
    width: 50%;
}

/* SVG pro menu pegando pelo i não funcionou */
.menu-mobile svg {
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.menu-mobile ul {
    
    opacity: 0;
    transition: .3s;
    background-color: white;
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;
    text-align: center;
}

.show-menu {
    opacity: 1 !important;
}

.menu-mobile ul li a {
    color: #5E3EA1;
    text-decoration: none;
    padding: 8px 0;
    display: block;
}


/* Redes sociais na lateral do site */
.icons {
    list-style-type: none;
    position: fixed;
    z-index: 100;
    bottom:26%;
}

.icons li {
    margin-bottom:20px;
}

.icons .fab {
    color:lightgray;
    font-size:20px;
    transition-duration: 0.5s;
}

.icons .fab:hover {
    color:white;
}
/* Fim das redes sociais na lateral */

/* Iniciando responsividade das redes sociais na barra lateral */
@media(max-width:750px) 
{
    #contact-right{
        display:none;
    }
    #icon {
        display:none;
    }
}
/* Fim */


/* CONFIGURANDO A RESPONSAVIDADE DO MENU */
@media screen and (max-width: 768px) {
    .menu-mobile {
        display: block;
    }
    /* .menu-mobile ul {
        display: none;
    } */
    .menu-desktop {
        display: none;
    }
}

/* Responsividade para tirar */

/* .container {
    max-width: 1120px;
} */

.description {
    margin-bottom: 60px;
}


main .description p {
    color:lightgray;
    margin : 20px 0px;
}

main .description .companyName a {
    color:#00fa9a;
    font-weight:bold;
    
}

main .description .companyName a:hover {
    text-decoration: none;
}

main .moreAbout button a {
    color:white;
    transition-duration: 0.5s;
}

main .moreAbout button a:hover {
    color:#00fa9a;
    text-decoration: none;
}
main .moreAbout button {
    background-color:transparent;
    color:whitesmoke;
    border:1px solid #00fa9a;
    padding:10px 20px;
    cursor:pointer;
    transition-duration: 0.5s;
    margin-top:40px;
    margin-bottom:70px;
}

main .moreAbout button:hover {
    border:1px solid whitesmoke;
    color:#00fa9a;
}

hr {
    border:0.5px solid #00fa9a;
}

article {
    display: flex;
    flex-direction: column;
    
}

article p {
    width: 640px;
    margin-bottom: 20px;
}

.about-me {
    color:lightgray;

    display: flex;
    justify-content: space-between;
}

.about-me .qualities {
    color:#00fa9a;
    font-weight:bold;
}

.about-me .my-image img {
    width: 220px;
    height: 220px;
    border-radius:50%;
    margin-top:-20%;
    /* filter:grayscale(100%); */
    transform: scale(1,1) translateX(0px);
    transition-duration: 1s;
    object-fit: cover;
}

.about-me .my-image img:hover {
    transform:scale(1.1,1.1) translateX(-10px);
    filter:none;
}
