*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.center {
    max-width:1120px;
    padding: 0 2%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
}

header {
    padding: 10px 0;

    font-size: 16px;
    line-height: 24px;

    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #07182A;

}

.center nav {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu-desktop {
    width: 50%;
    text-align: right;
}

.menu-desktop ul li {
    display: inline-block;
    margin: 8px 10px;
    
}

.menu-desktop ul li a {
    text-decoration: none;
    color:#FFEBCD;
    transition-duration: 0.5s;
    margin:0px 15px;
    letter-spacing: 0.5px;
}

.menu-desktop ul li a:hover {
    color:#00FA9A;
}



.menu-mobile {
    display: none;
    text-align: right;
    width: 50%;
}

/* SVG pro menu pegando pelo i não funcionou */
.menu-mobile svg {
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.menu-mobile ul {
    
    opacity: 0;
    transition: .3s;
    background-color: white;
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;
    text-align: center;
}

.show-menu {
    opacity: 1 !important;
}

.menu-mobile ul li a {
    color: #5E3EA1;
    text-decoration: none;
    padding: 8px 0;
    display: block;
}


/* Redes sociais na lateral do site */
.icons {
    list-style-type: none;
    position: fixed;
    z-index: 100;
    bottom:26%;
}

.icons li {
    margin-bottom:20px;
}

.icons .fab {
    color:lightgray;
    font-size:20px;
    transition-duration: 0.5s;
}

.icons .fab:hover {
    color:white;
}
/* Fim das redes sociais na lateral */

/* Iniciando responsividade das redes sociais na barra lateral */
@media(max-width:750px) 
{
    #contact-right{
        display:none;
    }
    #icon {
        display:none;
    }
}
/* Fim */


/* CONFIGURANDO A RESPONSAVIDADE DO MENU */
@media screen and (max-width: 768px) {
    .menu-mobile {
        display: block;
    }
    /* .menu-mobile ul {
        display: none;
    } */
    .menu-desktop {
        display: none;
    }
}

/* Responsividade para tirar */

/* .container {
    max-width: 1120px;
} */

.description {
    max-width: 920px;





    background-color: #5E3EA1;
}


main .description p {
    color:lightgray;
    margin : 20px 0px;






    background-color: #5E3EA1;

}

main .description .companyName a {
    color:#00fa9a;
    font-weight:bold;
    
}

main .description .companyName a:hover {
    text-decoration: none;
}

main .moreAbout button a {
    color:white;
    transition-duration: 0.5s;
}

main .moreAbout button a:hover {
    color:#00fa9a;
    text-decoration: none;
}
main .moreAbout button {
    background-color:transparent;
    color:#FFEBCD;
    border:1px solid #00fa9a;
    padding:10px 20px;
    cursor:pointer;
    transition-duration: 0.5s;
    margin-top:40px;
    margin-bottom:70px;
}

main .moreAbout button:hover {
    border:1px solid #FFEBCD;
    color:#00fa9a;
}

hr {
    border:0.5px solid #00fa9a;
}

article {
    display: flex;
    flex-direction: column;


    background-color: #5E3EA1;

    
}

article p {
    width: 640px;
    margin-bottom: 20px;







    background-color: #5E3EA1;

}

.about-me {
    color:lightgray;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-me .qualities {
    color:#00fa9a;
    font-weight:bold;
}

.about-me .my-image img {
    width: 220px;
    height: 220px;
    border-radius:50%;
    margin-top:-20%;
    /* filter:grayscale(100%); */
    transform: scale(1,1) translateX(0px);
    transition-duration: 1s;
    object-fit: cover;
}

.about-me .my-image img:hover {
    transform:scale(1.1,1.1) translateX(-10px);
    filter:none;
}


/* responsividade */
@media (max-width: 818px) {
    .about-me  {
        display: flex;
        flex-direction: column;
        margin: 0;

        align-items: center;
        
    }
    .about-me  p {
        width: 500px;
        
    }
    .about-me  .my-image{
        margin-top: 180px;
        

        
        
    }
    
}



.topic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 550px;

    margin-right: 100%;
   
}


.technical-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}

.technical-skills img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 140px;
    margin:20px;

    object-fit: cover;
}

.technical-skills .topic h3 {
    margin-top:100px;
    margin-bottom:60px;
    
   width: 550px;
}

/* responsividade */
@media (max-width: 880px) {
    .technical-skills {
        display: flex;
        max-width: 580px;
        margin: auto;
    }

    .technical-skills h3 {        
        line-height: 1.5;

    }

}



.topic h3 {
    color:#FFEBCD;
    letter-spacing: 2px;
    margin-bottom:30px;
    font-size:35px;
    font-weight:bold;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}






/* Projetos Feitos */

#projectss a img {
    width: 443px;
}

#projectss {
    margin-top :100px;

    /* Antes do hr verde deixei um respiro*/
    margin-bottom: 80px;
}

#projectss hr {
    width: 30%;
    border:0.5px solid white;
   
}


#projectss h3 {
    color:#FFEBCD;
    letter-spacing: 2px;
    margin-bottom:30px;
    font-size:35px;
    font-weight:bold;
}




.row {
    margin:0px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #05182a; 
  }
  ::-webkit-scrollbar-thumb {
      /* para mudar a cor da barra de rolagem */
    background: #00fa9a; 
  }


.pro-details img {
    /* filter : grayscale(100%); serve para deixar a imagem preto e branco */
    /* filter : grayscale(100%); */
    transition-duration: 0.5s;

    margin-right: 10px;

    border-radius: 8px 8px 0 0;
}


.pro-details img:hover {
    filter:none;
}

.pro-details {
    margin:50px 0px;

    display: flex;
    flex-direction: row;
}

.pro-details p {
    color:white;

    padding: 10px;
}

.pro-details a {
    color:white;
    transition-duration:0.5s;
}

.pro-details a:hover {
    color:#00fa9a;
    text-decoration: none;
}

.pro-details strong {
    color:#00fa9a;
}


/* responsive */
@media (max-width: 884px) {
    .pro-details {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: auto;

        align-items: center;
        
        
    }

    .projectss {
        display: flex;
        flex-direction: column;
        width: 450px;
        margin: 20px auto;
    }

    .row h3 {
        width: 400px;
        
        text-align: center;
        
        margin: auto;
    }

    .center_texts {
        width: 460px;

        
    }

    h2 {
        margin: 28px 0 28px 0;
    }
    
    
}


.center_texts {
    text-align: center;
}

.center_texts h2{
    color:#00fa9a;

    font-size: 32px;
}

/* .card {
    width: 100%;
    padding: 15px 30px 15px 30px;
    margin: 0 auto;
    background-color: var(--card-color);
    border-radius: 7px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    overflow: auto;
} */


/* depois dos projetos ja feitos *** antes do Footer */
.getIn {
    color:#FFEBCD;
    text-align: center;
    padding-top: 60px;
}


.getIn button {
    background-color:transparent;
    border:1px solid #00fa9a;
    transition-duration: 0.5s;
    margin-bottom: 60px;
}

.getIn button:hover {
    border:1px solid white;
}

.getIn button a {
    color:white;
    display: inline-block;
    padding:10px 20px;
    transition-duration: .5s;
}

.getIn button a:hover {
    color:#00fa9a;
    text-decoration: none;
}

.get-in-touch h3 {
    color:white;
    font-weight:bold;
    font-size:30px;
    margin:20px 0px;
}

.message p{
    font-size:20px;
    margin:50px 0px;
}

.message p {
    color: #FFEBCD;
}

.msg {
    color:#00fa9a;
    font-weight: bold;
}

/* Imagem cartão de crédito */
#pagamentos img{
    width: 340px;
}






/* Footer */
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    
    margin: 100px auto 40px auto;
    justify-content: space-between;
   
    color: #FFEBCD;
    
}

footer section{
    display: flex;
    flex-wrap: wrap;

    align-items: center;

    
}

@media (max-width: 1042px) {
    footer #footer {
        margin-left: 15%;
        display: flex;
        flex-direction: wrap;
        align-items: center;
        
    }
    
}

@media (max-width: 818px) {
    footer #footer {
        display: flex;
        flex-direction: column;
        margin: 0;
       
        width: 520px;
        
    } 

    
}


.footer-box {
    
    padding: 20px;
    width: 330px;

    line-height: 24px;

}

.footer-box h3{
    
    font-size: 32px;
    margin-bottom: 8px;

}

.footer-box img {
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .form-control {
    height: 32px;
    padding: 6px 12px 6px 12px;
    margin-top: 25px;
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary {
    height: 32px;
    box-shadow: none;
    border-radius: 25px;
    margin-top: 30px;
    background-image: linear-gradient(to right, #ba1771, #7a124b,#5f1782);
}

.copyright {
    color: #FFEBCD;
    margin-bottom: 20px;
    padding-bottom: 25px;

    text-align: center;
}

.redirecionamento {
  font-size: 22px;
}

    

/*---Media Queries --*/
@media (max-width: 992px) {
    #myBtn {
        transform: translateX(400px);
    }
    #services .btn-primary {
        transform: translateX(300px);
    }
}
 @media (max-width: 768px) {
   #myBtn {
       transform: translateX(300px);
   }
   #services .btn-primary {
       transform: translateX(300px);
   }
   #banner .img-fluid {
       margin-bottom: .2rem !important;
   }
 }
 @media (max-width: 576px) {
   #myBtn {
       transform: translateX(160px);
   }
   #services .btn-primary {
       transform: translateX(160px);
   }
    #banner .img-fluid {
       margin-bottom: .2rem !important;
   }
 }
   @media (max-width: 375px) {
   #myBtn {
       transform: translateX(100px);
   }
   #services .btn-primary {
       transform: translateX(100px);
   }
 }
 